<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="tform">कक्षाwork</a>
    <ul class="navbar-nav">
        <li class="nav-items"><a routerLink="home" class="nav-link">Home</a></li>
        <li class="nav-items"><a routerLink="tform" class="nav-link">Template Form</a></li>
        <li class="nav-items"><a routerLink="rform" class="nav-link">Reactive Form</a></li>
        <li class="nav-items"><a routerLink="" class="nav-link">Others</a></li>
    </ul>
</nav>


<router-outlet></router-outlet>
