
div.mainimg {
background-image: url('/assets/img.png');
height: 80vh;
width: 100vw;
background-size: cover;
/* background-repeat: no-repeat; */
position: absolute;
}
div.mainimg button {
  margin-left: 500px;
  margin-top: 109px;
  width: 380px;
}
